.page-header {
	margin: 0;
	margin-bottom: 0.5em;
}
.application-packages-list {
	margin-top: 2em;
    margin-bottom: 3.2em;
}
.environment-file-area {
	margin-bottom: 1em;
}
div.app-package-item-description {
    padding-top: 4px;
}
div.app-package-item .app-package-item-actions button.btn {
	float: left;
	margin-left: 5px;
}
div.app-package-item {
    min-height: 50px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5px;
}